@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;1,300&display=swap");

:root {
  --primary-color: #f0f0f0;
  --secondary-color: #f8f9fa;
  --secondary-color-blue: #e7eaf0;
  --box-shadow: 0 1px 7px rgba(209, 209, 209, 1);
}

a:link {
  text-decoration: none;
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
}

body {
  background-color: #f8f9fa;
  background-image: url("https://www.transparenttextures.com/patterns/cream-dust.png");
  font-family: "Nunito Sans" sans-serif;
  font-weight: 250;
}

.body-container {
  margin: 20px auto;
  max-width: 1200px;
  font-family: "Nunito Sans" sans-serif;
  font-weight: lighter;
  text-align: center;
}

.body-container h2 {
  font-weight: 200;
  line-height: 36px;
  color: #434343;
  text-align: center;
}

.body-container h1 {
  line-height: 50px;
  size: 40px;
  color: #434343;
  text-align: center;
  font-weight: 300;
}

.body-container p {
  font-family: "Nunito Sans" sans-serif;
  font-weight: 300;
}

.body-container h3 {
  font-family: "Nunito Sans" sans-serif;
  color: #434343;
  font-weight: 200;
  font-size: 30px;
}

.body-container li {
  font-size: 18px;
}

.body-container ul {
  font-size: 20px;
  font-weight: 300;
}

.button-container {
  padding: 30px;
  margin-top: 25px;
}

.nav-link {
  height: 48;
  width: 48;
  font-weight: 300;
}

.nav-link-upload {
  font-weight: 300;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.click-img-button {
  max-width: 500px;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 6px;
  padding: 10px 24px;
  margin: 10px;
}

.click-img-button a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.click-img-button a span {
  padding-left: 40px;
}

.leap-file-hero {
  font-size: 20px;
  text-decoration: none;
}

.leap-file-upload a {
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size: 20px;
}

.leap-file-upload {
  max-width: 250px;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 6px;
  padding: 10px 0px 10px 0px;
}

.our-stores {
  padding: 13px;
  border-radius: 1%;
  max-width: 350px;
}

.our-stores ul {
  list-style: none;
  font-family: "Nunito Sans" sans-serif;
  font-weight: 300;
  padding-top: 15px;
}

.our-stores li {
  list-style: none;
  font-family: "Nunito Sans" sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.our-stores li span {
  font-weight: 200;
  color: #434343;
  font-size: 20px;
}

.contact-body {
  max-width: 1200px;
  padding: 25px;
}

.contact-info-hero {
  padding-bottom: 30px;
}

.contact-description {
  max-width: 1200px;
  padding-bottom: 20px;
}

.contact-description h1 {
  font-size: 26px;
  font-weight: 300;
}

.contact-description h2 {
  font-size: 20px;
  padding: 20px;
  font-weight: 200;
}

.contact-email {
  justify-content: center;
  max-width: 1000px;
  padding: 25px;
}

.contact-email p {
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  padding-left: 100px;
}

.services-clickable-img {
  display: flex;
  max-width: 1200px;
  margin: 30px auto;
  padding-left: 100px;
}

.clickable-img {
  display: flex;
  justify-content: center;
  font-family: "Nunito Sans" sans-serif;
  max-width: 1000px;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.services-home-list {
  max-width: 450px;
  background-color: #fafafa;
  background-image: url("https://www.transparenttextures.com/patterns/fake-luxury.png");
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
}

.services-home-list ul {
  font-size: 24px;
  font-family: "Nunito Sans" sans-serif;
  font-weight: 250;
  color: #434343;
  text-decoration: none;
}

.services-home-list li {
  font-size: 16px;
  font-family: "Nunito Sans" sans-serif;
  list-style-position: inside;
  text-align: left;
  font-weight: 200;
  color: #5679a8;
}

.services-home-list li span {
  color: #434343;
  line-height: 30px;
}

.services-home-list a {
  color: #5679a8;
  padding-bottom: 15px;
}

.contact-help {
  padding: 20px;
  max-width: 500px;
  margin-top: 50px;
}

.contact-help h4 {
  font-size: 18px;
  font-weight: 200;
}

.faq-description {
  max-width: 800px;
  margin-top: 50px;
}

.faq-description h3 {
  font-weight: 300;
  margin-bottom: 50px;
  margin-top: 100px;
  font-size: 26px;
}

.faq-description h4 {
  font-size: 18px;
  font-weight: 250;
  line-height: 24px;
}

.faq-description p {
  font-size: 16px;
  font-weight: 200;
}

.footer-box {
  display: flex;
  padding-top: 25px;
}

.footer-content li {
  font-family: "Nunito Sans" sans-serif;
  list-style-type: none;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  line-height: 15px;
}

.footer-content ul {
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.footer-content {
  display: inline-flexbox;
}

.footer-links li {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  
}

.footer-links li a {
color: #1E8FDA;
}

.print-services-hero {
  max-width: 1000px;
  padding: 10px;
}

.print-services-hero p {
  font-weight: 200;
  font-size: 20px;
  padding-top: 25px;
}

.print-services-hero h1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 200;
}

.print-services-hero h4 {
  font-weight: 300;
  font-size: 26px;
  padding-bottom: 30px;
  color: #434343;
}

.print-services-hero ul {
  font-weight: 200;
}

.print-services-hero li {
  list-style-position: inside;
  color: #5679a8;
  text-align: left;
  padding-left: 200px;
  padding-top: 8px;
  font-weight: 200;
  font-size: 20px;
}

.print-services-hero li span {
  color: #434343;
}

.print-services p {
  display: block;
  margin: 70px auto;
  padding: 20px;
}

.image-display-background {
  max-width: 100%;
  border-radius: 20px;
}

.description-display-background {
  background-color: #fafafa;
  background-image: url("https://www.transparenttextures.com/patterns/fake-luxury.png");
  margin: 0 auto;
  border-radius: 20px;
}

.description-display-background h4 {
  margin-top: 40px;
}

.print-services {
  max-width: 800px;
  padding-bottom: 50px;
}

.print-services h4 {
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  padding-bottom: 10px;
  color: #5679a8;
}

.print-services h5 {
  font-weight: 200;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}

.print-services li {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #5679a8;
}

.print-services li span {
  color: #434343;
  line-height: 35px;
}

.print-services-large li {
  list-style-position: inside;
  text-align: left;
}

.print-services-large {
  padding: 30px;
  margin-top: 50px;
}

.oversized-prints li {
  list-style-position: inside;
  text-align: left;
  max-width: 500px;
}

.oversized-prints {
  padding: 30px;
  margin-top: 15px;
}

.high-volume li {
  list-style-position: inside;
  text-align: left;
  max-width: 500px;
}

.high-volume {
  padding: 30px;
  margin-top: 15px;
}

.meter-banner {
  display: block;
  margin: 0 auto;
  opacity: 0.8;
}

.print-services-banner {
  display: block;
  margin: 0 auto;
}

.print-services-upload {
  padding: 50px;
  display: flex;
}

.print-service-ribbon {
  max-width: 800px;
}

.partner-description {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
}

.partner-description h2 {
  font-family: "Nunito Sans" sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
  padding: 30px;
}

.partner-logo-box {
  text-align: center;
  padding-bottom: 25px;
  display: inline;
}

.small-partner-logo {
  max-width: 600px;
  padding: 25px;
}

.print-image-max {
  display: inline-block;
  background: var(--secondary-color-blue);
  justify-content: inline;
  box-shadow: 0 2px 10px rgba(209, 209, 209, 1);
  padding: 10px;
  height: 418px;
  border-radius: 1%;
}

.project-links {
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  display: flex;
  margin-top: 20px;
  justify-content: center;
  text-decoration: none;
  font-weight: 300;
  color: white;
  max-width: 500px;
}

.hero-img-carousel {
  max-width: 660px;
  margin-top: 5px;
}

.carousel-item {
  transition: 0.6s ease-in-out;
  max-height: 400px;
}

.home-body {
  padding: 50px;
}

.home-hero-description {
  padding-top: 15px;
}
.home-hero-description h1 {
  font-family: "Nunito Sans" sans-serif;
  font-weight: 250;
  font-size: 28px;
}

.home-hero-description p {
  font-family: "Nunito Sans" sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 26px;
}

.home-body-hero {
  margin-bottom: 30px;
  margin-top: 10px;
}

.homepage-description {
  max-width: 1000px;
  text-align: center;
  padding: 25px;
  font-weight: 200;
  font-size: 18px;
  margin-top: 40px;
}

.homepage-description p {
  margin: 40px 0px;
  font-size: 20px;
}

.pointer-hand a {
  cursor: grab;
}

.s-cesr-logo {
  padding: 30px;
}

.sales-description {
  max-width: 1200px;
  padding: 10px 40px 40px 40px;
}

.sales-description h1 {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
}

.sales-description p {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
}

.sales-description h4 {
  line-height: 44px;
  font-size: 26px;
  font-weight: 300;
  padding-bottom: 20px;
  color: #434343;
}

.sales-contact p {
  font-weight: 200;
  font-size: 20px;
  padding: 25px;
}

.supplies-sales-info {
  max-width: 900px;
  padding-top: 30px;
}

.supplies-sales-info li {
  list-style-position: inside;
  font-weight: 200;
  text-align: left;
  padding-left: 250px;
  padding-top: 10px;
  color: #5679a8;
}

.supplies-sales-info li span {
  color: #434343;
}

.supplies-sales-info ul {
  font-weight: 200;
  font-size: 18px;
  line-height: 28px;
}

.supplies-sales-info p {
  font-weight: 200;
  font-size: 18px;
}

.product-help p {
  font-weight: 200;
  font-size: 20px;
  padding: 100px 0px 60px 0px;
  
}

.equipment-sales-hero {
  margin: 45px 0px 25px 0px;
  padding: 30px;
}

.equipment-sales-hero h2 {
  font-size: 26px;
  font-weight: 300;
  padding-bottom: 25px;
  
}

.canon-equipment {
  padding: 10px;
  display: inline-block;
}

.kyocera-machines {
  display: inline-block;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.kip-equipment {
  padding: 10px;
  display: inline-block;
}

.kip-color-machine {
  margin-top: 95px;
}

.kip-logo {
  margin-top: 100px;
  margin-right: 50px;
}

.supplies-hero {
  padding-top: 50px;
  margin: 25px auto;
}

.supplies-hero h2 {
  font-size: 28px;
  font-weight: 300;
}

.supplies-hero p {
  font-weight: 200;
  font-size: 18px;
  padding-top: 10px;
}

.supplies-hero span {
  font-weight: 200;
  color: #434343;
}

.contact-us-link p {
  font-weight: 200;
  font-size: 20px;
}

.carousel-slide {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.services-hero {
  padding: 30px;
}

.services-hero h2 {
  line-height: 24px;
  font-weight: 300;
  font-size: 26px;
}

.services-hero h1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 200;
}

.services-hero-description {
  max-width: 550px;
  padding: 30px;
  border-radius: 20px;
}

.services-image {
  margin: 50px auto;
  max-width: 550px;
}

.services-description {
  max-width: 1000px;
  font-weight: 200;
  padding: 10px;

  margin-top: 10px;
  margin-bottom: 50px;
}

.services-offered p {
  font-weight: 200;
  font-size: 18px;
}

.services-offered li {
  list-style-position: inside;
  text-align: left;
  padding-left: 300px;
  font-weight: 200;
  color: #5679a8;
}

.services-offered li span {
  color: #434343;
  font-size: 18px;
}

.service-machines p {
  font-weight: 200;
  padding-top: 30px;
  font-size: 16px;
}

.meters-banner {
  display: block;
  margin: 0 auto;
}

.meter-read-hero {
  max-width: 1000px;
  margin-top: 30px;
}

.meter-read-hero h2 {
  font-weight: 300;
  font-size: 25px;
  padding-bottom: 25px;
  
}

.meter-read-hero ul {
  font-size: 20px;
  line-height: 32px;
  font-weight: 200;
}

.meter-read-hero li {
  list-style-position: inside;
  text-align: left;
  font-size: 18px;
  font-weight: 200;
  color: #5679a8;
  padding-left: 380px;
  padding-top: 5px;
}

.meter-read-hero li span {
  color: #434343;
}

.meter-partner-hero {
  max-width: 800px;
  padding: 50px;
  font-weight: 200;
}

.meter-partner-hero p {
  font-weight: 200;
  font-size: 20px;
}

.meter-partner-hero img {
  padding: 10px;
  margin-top: 5px auto;
}

.meter-read-image {
  margin-top: 20px;
}
