@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;1,300&display=swap");

:root {
  --primary-color: #f0f0f0;
  --secondary-color: #f8f9fa;
  --secondary-color-blue: #e7eaf0;
  --box-shadow: 0 1px 7px rgba(209, 209, 209, 1);
  --button-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
}

body {
  background-color: #f8f9fa;
  background-image: url("https://www.transparenttextures.com/patterns/cream-dust.png");
  font-family: "Nunito Sans" sans-serif;
  font-weight: 250;
}

.body-container {
  margin: 20px auto;
  max-width: 1200px;
  font-family: "Nunito Sans" sans-serif;
  font-weight: lighter;
  text-align: center;
}

.body-container h2 {
  font-weight: 200;
  line-height: 36px;
  color: #434343;
  text-align: center;
  
}

.body-container h1 {
  line-height: 50px;
  size: 40px;
  color: #434343;
  text-align: center;
  font-weight: 300;
}

.body-container p {
  font-family: "Nunito Sans" sans-serif;
  font-weight: 300;
}

.body-container h3 {
  font-family: "Nunito Sans" sans-serif;
  color: #434343;
  font-weight: 200;
  font-size: 30px;
}

.body-container li {
  font-size: 18px;
}

.body-container ul {
  font-size: 20px;
  font-weight: 300;
}

.nav-link {
  height: 48;
  width: 48;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.leap-file-hero {
  font-size: 22px;
  text-decoration: none;
}

.leap-file-upload a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.leap-file-upload {
  max-width: 400px;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  border-radius: 6px;
  padding: 6px 24px;
  box-shadow: var(--button-shadow);
  text-shadow: 0px 1px 0px #528ecc;
}

.our-stores {
  box-shadow: 0 2px 10px rgba(209, 209, 209, 1);
  padding: 30px;
  border-radius: 1%;
  max-width: 350px;
}

.our-stores ul {
  list-style: none;
  font-family: "Nunito Sans" sans-serif;
  font-weight: 300;
  padding-top: 5px;
}

.our-stores li {
  list-style: none;
  font-family: "Nunito Sans" sans-serif;
  font-weight: 200;
}

.contact-body {
  max-width: 1200px;
  padding: 50px;
}

.contact-info-hero {
  padding-bottom: 30px;
}

.contact-description {
  max-width: 1200px;
  box-shadow: var(--box-shadow);
  padding: 30px;
}

.contact-description h1 {
  font-size: 30px;
  font-weight: 400;
}

.contact-description h2 {
  font-size: 24px;
}

.contact-description h3 {
  font-size: 24px;
  text-align: center;
  font-weight: 200;
}

.contact-email {
  justify-content: center;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  max-width: 900px;
  padding: 50px;
}

.contact-email p {
  font-weight: 200;
  font-size: 18px;
  text-align: center;
}

.contact-email h3 {
  font-size: 22px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 300;
}

.clickable-img container {
  justify-content: center;
}

.clickable-img {
  display: flex;
  justify-content: center;
  font-family: "Nunito Sans" sans-serif;
  max-width: 1000px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #434343;
  box-shadow: var(--box-shadow);
  background-color: #f8f9fa;
  background-image: url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
  margin: 0 auto;
  padding-bottom: 20px;
}

.click-img {
  margin: 0 auto;
  line-height: 50px;
  justify-content: center;
}

.click-img-file {
  margin: 0 auto;
}

.click-img-service {
  margin: 0 auto;
}

.click-img-supplies {
  margin: 0 auto;
}

.click-img-meter {
  margin: 0 auto;
}

.click-img-icon {
  max-width: 100%;
  padding: 20px;
}

.faq-description {
  max-width: 800px;
}

.faq-description h3 {
  font-weight: 300;
}

.faq-description h4 {
  font-size: 18px;
}

.faq-description p {
  font-size: 16px;
}

.footer-box {
  background-image: url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
  display: flex;
  padding-top: 40px;
}

.footer-content li {
  font-family: "Nunito Sans" sans-serif;
  list-style-type: none;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
}

.footer-content ul {
  padding: 10px;
}

.footer-content {
  display: inline-flexbox;
}

.print-services-hero {
  max-width: 1000px;
  box-shadow: var(--box-shadow);
  background-color: #f2f6fa;
    background-image: url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
}

.print-services-hero h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.print-services {
  max-width: 1200px;
  padding: 30px;
}

.print-services p {
  display: block;
  margin: 70px auto;
  padding: 20px;
}

.image-display-background {
  background-color: #f2f6fa;
    background-image: url("https://www.transparenttextures.com/patterns/diagonal-waves.png");
  max-width: 100%;
}

.description-display-background {
  background-color: #f8f9fa;
    background-image: url("https://www.transparenttextures.com/patterns/crossword.png");
    margin: 0 auto;
}

.description-display-background h4 {
  margin-top: 40px;
}

.print-services h4 {
  font-size: 22px;
  font-weight: 300;
}

.print-services h5 {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
}

.print-services li {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
}

.print-services-large {
  max-width: 1000px;
  padding: 30px;
}

.oversized-prints {
  max-width: 1000px;
  padding: 30px;
}

.high-volume {
  max-width: 1000px;
  padding: 30px;
}

.print-services-description {
  max-width: 600px;
  padding: 25px;
  margin: 50px auto;
background-color: #f8f9fa;
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-waves.png");
}

.print-services-description p {
  font-weight: 300;
  font-size: 18px;
}

.print-services-description li {
  font-weight: 300;
  font-size: 16px;
}

.print-services-process {
  max-width: 600px;
  padding: 25px;
  margin: 50px auto;
  background-color: #f2f6fa;
    background-image: url("https://www.transparenttextures.com/patterns/dust.png");
}

.print-services-process p {
  font-weight: 300;
  font-size: 18px;
}
.print-services-process li {
  font-weight: 300;
  font-size: 16px;
}

.print-services-upload {
  padding: 50px;
  display: flex;
}

.print-service-ribbon {
  max-width: 800px;
}

.partner-description h1 {
  font-family: "Nunito Sans" sans-serif;
  font-weight: 300;
  font-size: 22px;
  font-style: italic;
  text-align: center;
  max-width: flex;
  padding: 50px;
  display: flex;
}

.partner-logo-box {
  text-align: center;
  margin-bottom: 50px;
}

.print-image-max {
  display: inline-block;
  background: var(--secondary-color-blue);
  justify-content: inline;
  box-shadow: 0 2px 10px rgba(209, 209, 209, 1);
  padding: 10px;
  height: 418px;
  border-radius: 1%;
}

.project-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  text-decoration: none;
  font-weight: 250;
  box-shadow: var(--box-shadow);
  color: white;
  background-color: #547fb3;
}

.hero-image {
  background-color: var(--secondary-color);
  display: inline-block;
  margin-top: 25px;
  border-radius: 0.7%;
}

.homehero-description p {
  max-width: 600px;
}

.home-body {
  padding: 60px;
}

.home-body h2 {
  font-family: "Nunito Sans" sans-serif;
  font-weight: 300;
}

.home-body h3 {
  font-family: "Nunito Sans" sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
}


.sales-description {
  max-width: 800px;
}

.sales-description h1 {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.sales-description p {
  text-align: center;
}

.supplies-sales-info li {
  list-style-type: none;
}

.carousel-slide {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.meter-instructions {
  max-width: 800px;
  text-align: center;
}

.meter-instructions h1 {
  font-size: 30px;
}

.meter-instructions h3 {
  font-size: 22px;
}

.meter-instructions h4,
p {
  font-size: 22px;
  font-weight: 200;
}

.services-hero {
padding: 30px;
}

.services-hero h2 {
line-height: 30px;
font-weight: 300;
}

.services-hero h1 {
font-size: 20px;
line-height: 24px;
font-weight: 250;
}

.services-image {
  margin: 50px auto;
}


.services-description {
  max-width: 1000px;
}

.services-offered li {
  list-style-position: inside;
  text-align: left;
  padding-left: 300px;
}